<div class="container text-sm-center">
    <div  class="course">
        <h3 class="text-sm-center section-heading"> Education </h3>
        <h3 class="theme-color "> Bachelor of Technology</h3>
        <h4>Computer Science <strong class="theme-color"> & </strong> Engineering </h4>
    </div>
    <div class="university">
        <h3 class="university theme-color">
            <i class="fa fa-university"> </i>
        </h3>
        <h3 class="university theme-color">Sri Krishnadevaraya University</h3>
        <h4 class="year">2010 - 2014 </h4>
    </div>
</div>
