<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> Ankanna Resume</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/vaakash/socializer/a4c672bf/css/socializer.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="/css/main.css" rel="stylesheet">
    <style>
        .body-content{
            display: none;
        }
    </style>

</head>



<body data-spy="scroll" data-target="#navigation-bar">


<div id="loader">
    <span>{</span><span>}</span>
</div>

<div class="body-content">

    {{ content }}

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/sticky-header.js"></script>
<script src="/js/smooth-scrolling.js"></script>
<script src="/js/jquery.isotope.js"></script>
<!--<script src="/js/isotope.pkgd.min.js"></scm cript>-->

<script src="/js/custom.js"></script>
<script src="https://cdn.rawgit.com/vaakash/socializer/a4c672bf/js/socializer.min.js"></script>
<script>
    (function(){
        socializer( '.socializer' );
    }());
</script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>
